<div class="jumbotron text-center">
    <h1>Here's my html page for lab8</h1>
  </div>
  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="file:///C:/Users/marps/mypage.html">Projects</a>
    </li>
  </ul>
  <div class="container">
    <!-- Content here -->
  </div>
  <div class="dropdown">
      
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">30</a>
      <a href="#">50</a>
      <a href="#">70</a>
    </div>
  </div>
  