<!--
  TODO: Update the EJS code to insert the following information:
    - display_title
    - url
    - suggested_link_text
    - publication_date
    - summary_short

  HINT: Not sure how to display the reviews, check out Bootstrap cards here: https://getbootstrap.com/docs/4.0/components/card/
-->
<div class = "row">
<% if (items) 
{
	  var cards = '';
    var i = 0;
    console.log(items);
    <!-- <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> -->
	<!-- Iterate the items object & update the cards variable -->

 } %>
  </div> 

<!-- <div class="row">
  <%
    if (items) {
    var cards = '';
      var i = 0;
      items.forEach(item => {
          cards += `<div class="card col-4" style="width: 18rem;">` +
              `<div class="card-body"><h5 class="card-title">${item.display_title}</h5></div>` +
              `<p class="card-text">${item.publication_date}</p>` +
              `<p class="card-text">${item.summary_short}</p>` +
              `</div>`;
              i++;
              if (i % 3 == 0) {
                  cards += `</div><div class="row">`;
              }
      })
  %>
      <%- cards %>
  <% } %>
  </div> -->